:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
 display: grid;
 grid-row: auto;
}

.board h1 {
  color: #eee;
  font-size:40px;
  font-weight: bold;
  margin-bottom: 16px;
}


@media only screen and (max-width: 600px) {
  button:hover
  {
    background: transparent;
    border: 2px solid #eee;
    color: #eee;
  }
  body 
  {
    height: 100%;
     overflow: hidden
  }
}
  


 button {
  padding: 20px 30px;
  margin: 25px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  width: 100px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

 button:hover {
  background: #eee;
  color: #222;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.square.is-selected {
  color: #fff;
  background: #09f;
}

.winner {
  
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  text-align: center;
  text-justify: center;
  cursor: pointer;
  font-size: 48px;
}